* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: o;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
h1 {
  margin: 20px 20px 20px 10px;
  font-size: 30px;
  font-weight: bold;
}
p {
  margin: 10px 0px 20px 10px;
  font-size: 25px;
  font-weight: bold;
}
.a {
  display: inline-block;
  margin: 80px 0px 0px 30px;
  font-size: 20px;
  color: #fff;
  border: 5px solid #000;
  border-radius: 10px 10px 10px 10px;
  background-color: #000;
}

div {
  font-size: 25px;
  font-weight: 500;
  margin: 10px;
}
table,
th,
td {
  border: 3px solid #000;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}
img {
  width: 300px;
  height: auto;
}
.img {
  position: relative;
  margin: 50px 0px 10px 450px;
  width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 3px 3px black;
}
span {
  display: block;
  font-size: 30px;
  color: #fff;
  padding: 30px 0px 0px 0px;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
}
.bmw2 {
  display: block;
  font-size: 20px;
  color: #fff;
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
}
.bmw {
  border: 3px solid #000;
  background-color: rgb(118, 123, 123);
}
